---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <title>House Of Nariño</title>

    <link rel="icon" href="/favicon.ico" sizes="any" />

    <meta
      name="description"
      content="Investigación periodística sobre las alianzas y los ríos de dinero que corrieron entre la Casa de Nariño, el Congreso y la UNGRD, en el gobierno Petro."
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="keywords"
      content="corrupción, política colombiana, casa de Nariño, documental político"
    />

    <meta name="author" content="SolucionSoft" />

    <link rel="canonical" href="https://narino-house.vercel.app/" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="House of Nariño" />
    <meta
      property="og:description"
      content="Investigación periodística sobre las alianzas y los ríos de dinero que corrieron entre la Casa de Nariño, el Congreso y la UNGRD, en el gobierno Petro."
    />
    <meta
      property="og:image"
      content="https://narino-house.vercel.app/imagen-og.jpg"
    />
    <meta property="og:url" content="https://narino-house.vercel.app/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="House of Nariño" />
    <meta
      name="twitter:description"
      content="Investigación periodística sobre las alianzas y los ríos de dinero que corrieron entre la Casa de Nariño, el Congreso y la UNGRD, en el gobierno Petro."
    />
    <meta
      name="twitter:image"
      content="https://narino-house.vercel.app/imagen-og.jpg"
    />
  </head>

  <body class="bg-[#060606]">
    <div class="fixed inset-0 z-0 flex justify-between">
      <div class="relative w-[15vw] h-screen overflow-hidden hidden md:block">
        <img
          id="left-image"
          src="/images/faces/left-side-face1.png"
          class="absolute w-full h-full object-cover transition-opacity duration-1000 opacity-100"
        />
      </div>
      <div class="relative w-[15vw] h-screen overflow-hidden hidden md:block">
        <img
          id="right-image"
          src="/images/faces/right-side-face1.png"
          class="absolute w-full h-full object-cover transition-opacity duration-1000 opacity-100"
        />
      </div>
    </div>

    <header class="fixed w-full flex justify-between z-20 cursor-pointer p-6">
      <a
        href="/"
        class="inline-block
    bg-white/5 hover:bg-white/10 backdrop-blur-md border border-white/10 rounded-2xl p-2 shadow-md transition
    md:bg-transparent md:hover:bg-transparent md:backdrop-blur-0 md:border-none md:shadow-none md:p-0 md:rounded-none"
      >
        <img
          src="/images/logo-cp.png"
          alt="Cuestión Pública"
          class="w-25 md:w-33"
        />
      </a>

      <a
        class="md:hidden inline-block bg-white/5 hover:bg-white/10 backdrop-blur-md border border-white/10 rounded-2xl p-2 shadow-md transition"
        href="/"
      >
        <img
          src="/images/hon.svg"
          alt="Cuestión Pública"
          class="w-25 md:w-33"
        />
      </a>
    </header>

    <main
      class="relative z-10 min-h-screen bg-[#181818] overflow-hidden
      rounded-none w-full mx-0
      md:rounded-lg md:max-w-[70vw] md:mx-auto md:px-0 md:my-8"
    >
      <slot />
    </main>
  </body>

  <script type="module">
    const leftImages = [
      "/images/faces/left-side-face1.png",
      "/images/faces/left-side-face2.png",
      "/images/faces/left-side-face3.png",
    ];
    const rightImages = [
      "/images/faces/right-side-face1.png",
      "/images/faces/right-side-face2.png",
      "/images/faces/right-side-face3.png",
    ];

    const leftImg = document.getElementById("left-image");
    const rightImg = document.getElementById("right-image");
    let index = 1;

    setInterval(() => {
      leftImg.classList.remove("opacity-100");
      leftImg.classList.add("opacity-0");
      rightImg.classList.remove("opacity-100");
      rightImg.classList.add("opacity-0");

      setTimeout(() => {
        leftImg.src = leftImages[index];
        rightImg.src = rightImages[index];

        leftImg.classList.remove("opacity-0");
        leftImg.classList.add("opacity-100");
        rightImg.classList.remove("opacity-0");
        rightImg.classList.add("opacity-100");

        index = (index + 1) % leftImages.length;
      }, 1000);
    }, 4500);
  </script>
</html>
