---
const { title } = Astro.props;
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title ? `${title}` : 'House Of Nariño'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-[#060606]">
    <div class="fixed inset-0 z-0 flex justify-between">
      <div class="w-[15vw] bg-repeat-y bg-left bg-cover" style="background-image: url('/images/left-side-face.png')"></div>
      <div class="w-[15vw] bg-repeat-y bg-right bg-cover" style="background-image: url('/images/right-side-face.png')"></div>
    </div>

    <header class="fixed top-8 left-8 z-20">
      <img src="/images/logo-cp.png" alt="Cuestión Pública" class="w-33" />
    </header>

    <main class="relative z-10 max-w-[70vw] mx-auto my-8 bg-[#181818] min-h-screen rounded-lg overflow-hidden">
      <slot />
    </main>
  </body>
</html>
